div.row
	div.col-md-8
		each item in articles
			.post
				.content
					.date item.dateCreated
					h3.entry-title item.tite
					p item.body
				.media
					img(src= item.image)
				a.btn.btn-primary.action-edit(data-id=item._id) edit
				a.btn.btn-danger.action-delete(data-id=item._id) delete