//
   Created by nexusstar on 15-4-28.

extends layout
block content
   .container
      h1.text-center Students
      hr
      table.table.table-striped
         thead
            tr.text-center
               th ID
               th Name
               th E-mail
               th Classes
               th git Repo
         tbody

block footer
   footer.footer
      div.container
         div.col-md-12 footer content

