//
   Created by nexusstar on 20.03.15.
div.row.clearfix
   div.left-row
      a(href='post', target='_blank')
         img.post-img(src='http://lorempixel.com/400/200/')
   div.right-row
      h3.post-title Some awesome post title
      p. Lorem ipsum dolor sit amet,
         consectetur adipisicing elit.
         Aspernatur culpa, dolorem dolores explicabo
         fugiat inventore iusto maiores molestiae necessitatibus
         neque odit perspiciatis provident quaerat, quia, quis rem repellat similique ut
div.row.clearfix
   div.left-row
      a(href='post', target='_blank')
         img.post-img(src='http://lorempixel.com/400/200/sports')
   div.right-row
      h3.post-title Some awesome post title
      p. Lorem ipsum dolor sit amet,
         consectetur adipisicing elit.
         Aspernatur culpa, dolorem dolores explicabo
         fugiat inventore iusto maiores molestiae necessitatibus
         neque odit perspiciatis provident quaerat, quia, quis rem repellat similique ut.
div.row
   div.left-row
      a(href='post', target='_blank')
         img.post-img(src='http://lorempixel.com/400/200/sports')
   div.right-row
      h3.post-title Some awesome post title
      p. Lorem ipsum dolor sit amet,
         consectetur adipisicing elit.
         Aspernatur culpa, dolorem dolores explicabo
         fugiat inventore iusto maiores molestiae necessitatibus
         neque oditerspiciatis provident quaerat, quia, quis rem repellat similique ut