//
   Created by nexusstar on 20.03.15.
header.navbar
   div.container
      h1.logo Jade Blog
         span  task3
      nav.nav.clearfix
         ul
            li.active
               a(href='/', target='_self') Home
            li
               a(href='post', target='_self') PageOne
            li
               a(href='post', target='_self') PageTwo
            li
               a(href='post', target='_self') PageThree