div.container
	div.row
		div.col-sm-4
			form.well#blogs-form
				.form-group
					label Title
					input.form-control(name="title",type="text")
				.form-group
					label Date
					input.form-control(name="date",type="date")
				.form-group
					label Image
					input.form-control(name="image",type="text")
				.form-group
					label Body
					input.form-control(name="body",type="text")
				input(type="hidden",name="_id",value="")
				button.btn.btn-primary(type="submit") Save
				button.btn.btn-default.action-reset(type="button") Reset
				a.btn.btn-default.action-reset(href="api/articles") Test Edit
			
		div#blog-posts.col-md-8
				.post
					.content
						.date 15 MAY 2015
						h3.entry-title New RRD Firestorm V3 out now!
						p Originally designed and trimmed to combine early planning, speed, control and easy jibing…
					.media
						img(src="http://www.robertoriccidesigns.com/equipment/wp-content/uploads/2015/05/17215351309_5aca027aaf_z-220x140.jpg")
				.post
					.content
						.date 8 MAY 2015
						h3.entry-title Albeau wins 2015 Ulsan PWA World Cup!
						p Antoine Albeau successfully fends off the rest of the fleet at 2015 Ulsan PWA World Cup…
					.media
						img(src="http://www.robertoriccidesigns.com/equipment/wp-content/uploads/2015/05/KO15_LS_Albeau_takes_the_1st_event-220x140.jpg")
				.post
					.content
						.date 1 MAY 2015
						h3.entry-title Bruno Martini 3rd at Windsurfing Euro-Cup Torbole 2015
						p A gorgeous Bruno Martini takes RRD Firewing on the 3rd stage of the podium at Windsurfing Euro-Cup Torbole 2015…
					.media
						img(src="http://www.robertoriccidesigns.com/equipment/wp-content/uploads/2015/04/10983382_10152716499777397_5543488641515822122_n-220x140.jpg")
				.post
					.content
						.date 17 APRIL 2015
						h3.entry-title RRD Harnesses collection 2015
						p EQ-3: preshaped moulded EVA, Fiber glass battens inside, spreader protector, key pocket, quick release closure, spreader downhaul, Neoprene edges, Grip print…
					.media
						img(src="http://www.robertoriccidesigns.com/equipment/wp-content/uploads/2015/04/featured-rrd-harnesses-2015.jpg")