header#navbar.navbar.navbar-default
	.container
		.row
			.logo-container
				#logo
					img(src="img/tabou.jpg")
			.navbar-container
				.navbar-collapse.collapse
					nav(role="navigation")
						ul.nav.navbar-nav
							li
								a(href='#') Home
							li
								a(href='#') News
							li
								a(href='#') Events
							li
								a(href="#") Rankings
							li
								a(href="#") Equipment					