//- index.jade

extends ./layout.jade
block title
    title Home | Hobby WebSite

block headerNav
    ul.nav.navbar-nav
        li.active
            a(href='#') Home
        li
            a(href='#') Link
        li
            a(href='#') Link
