//- layout.jade
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Hobby WebSite
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        link(href='css/style.css', rel='stylesheet', type='text/css')
    body
        header#navbar.navbar-default.navbar-fixed-top
            div.container
                block headerNav
                    include ./header.jade
        #highligter            
            block slider
                div.container
                    include  ./slider.jade
        #content
            div.container
                .row        
                    //content
                    #blog-posts
                    //sidebar
                    #sidebar
            
        block footer
            footer.footer
            div.container
                div.col-md-4 footer content 1
                div.col-md-4 footer content 2
                div.col-md-4 footer content 3

        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js')


        script(src='/lib/q/q.js')
        script(src='/lib/jade/jade.js')
        
        //tools
        script(src="js/tools/resource.js")
        script(src="js/tools/helpers.js")
        script(src="js/tools/router.js")
        
        //app
        script(src='/js/controllers/articlesCtrl.js')
        script(src='/js/controllers/weatherCtrl.js')
        script(src='/js/init.js')