//- layout.jade
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Hobby WebSite
        link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        link(href='css/style.css', rel='stylesheet', type='text/css')
    body
        header#navbar.navbar-default.navbar-fixed-top
            div.container
                block headerNav
                    include ./header.jade
        div#highligter            
            block slider
                div.container
                    include  ./slider.jade
        div#main-content        
            block content
            block sidebar
            
        block footer
            footer.footer
            div.container
                div.col-md-4 footer content 1
                div.col-md-4 footer content 2
                div.col-md-4 footer content 3
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')